<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="header" th:fragment="bodyHeader">
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <svg width="150" height="75" xmlns="http://www.w3.org/2000/svg">
                        <!-- 펼쳐진 책 아이콘 -->
                        <path d="M 15 22.5 Q 30 15, 45 22.5 L 45 52.5 Q 30 60, 15 52.5 L 15 22.5" fill="orange" />
                        <path d="M 45 22.5 Q 60 15, 75 22.5 L 75 52.5 Q 60 60, 45 52.5 L 45 22.5" fill="orange" />
                        <line x1="45" y1="22.5" x2="45" y2="52.5" stroke="black" stroke-width="1.5"/>

                        <!-- 텍스트 "Chek" -->
                        <text x="80" y="45" font-family="Verdana" font-size="22.5" font-weight="bold" fill="orange">Chek</text>
                    </svg>
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="#" class="nav-link text-secondary">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#home"></use></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"></use></svg>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"></use></svg>
                            Orders
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"></use></svg>
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#people-circle"></use></svg>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>